fastapi
uvicorn
langchain>=0.2,<0.3
langchain-core>=0.2,<0.3
langchain-openai>=0.1,<0.2
langchain-community>=0.2,<0.3
langchain-text-splitters>=0.2,<0.3
langgraph>=0.1,<0.2
langgraph-checkpoint
faiss-cpu
streamlit
pydantic
pydantic-settings
sqlalchemy
pandas
requests
python-dotenv
python-multipart
PyPDF2
markdown
tiktoken
openai
