fastapi
uvicorn
langchain
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
faiss-cpu
streamlit
pydantic
pydantic-settings
sqlalchemy
pandas
python-dotenv
PyPDF2
markdown
tiktoken
openai